:root {
  --main-txt-color: #d4d4d4;
  --main-bg-color: #181818;
  --main-link-color: #1496bb;
  --main-border-color: #272727;
  --main-bg-color-light: #272727;
}
*:first-child > tr:first-child > td,
*:first-child > tr:first-child > td > * {
  color: var(--main-link-color) !important;
  background: var(--main-bg-color) !important;
  border-color: var(--main-bg-color) !important;
}
.customTable-level1 tr.tableContent-level1 td {
  border-color: var(--main-border-color) !important;
}

html {
  background: var(--main-bg-color) !important;
}

html *:not(a) {
  color: var(--main-txt-color) !important;
  border-color: #00000000 !important;
  background: var(--main-bg-color) !important;
}

a {
  color: var(--main-link-color) !important;
  border: 0px !important;
  background: var(--main-bg-color) !important;
}
.box {
  background: var(--main-link-color) !important;
}
.box-body,
.box-footer {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.btn.btn-link {
  color: var(--main-link-color) !important;
}
.btn.btn-primary,
.btn.btn-primary > * {
  color: var(--main-bg-color) !important;
  background-color: var(--main-link-color) !important;
}
a > span {
  color: var(--main-link-color) !important;
}
img[src]:hover,
input[type="image"]:hover {
  opacity: 1;
}
input,
select,
button,
textarea {
  background: var(--main-bg-color-light) !important;
}
a:visited,
a:visited *,
a:active,
a:active * {
  color: #5f5f5f !important;
}

input[type="radio"] {
  border-width: 0 !important;
  background: none !important;
}
